body{
    background: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.border2{
    position: absolute;
    top: 0px;
    left: 0px;
}

#end{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 470px;
    left: 1360px;
}