body{
    background: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.frame{
    position: absolute;
    top: 130px;
    left: 360px;
}

#text{
    width: 350px;
    height: 170px;
    position: absolute;
    top: 200px;
    left: 415px;
    font-size: 50px;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#end{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 470px;
    left: 1390px;
}

.border2{
    position: absolute;
    top: 0px;
    left: 0px;
}

#doodle1{
    position: absolute;
    top: 300px;
    left: 270px;
}

#doodle2{
    position: absolute;
    top: 600px;
    left: 100px;
}

#doodle3{
    position: absolute;
    top: 900px;
    left: 600px;
}

#doodle4{
    position: absolute;
    top: 50px;
    left: 800px
}

#doodle5{
    position: absolute;
    top: 500px;
    left: 1400px;
}

#doodle6{
    position: absolute;
    top: 100px;
    right: 100px;
}

.arrow{
    position: absolute;
    top: 800px;
    left: 1470px;
}

#text2{
    font-size: 20px;
    color: black;
}

